<!DOCTYPE html>
<html>
  <head>
    <style>
      head, body {
        margin: 0;
        padding: 0;
      }

      * {
        box-sizing: border-box;
      }
    </style>
  </head>
  <body>
    <div id="root">
    </div>
  </body>
</html>
